<a href="https://colab.research.google.com/github/bienduc08/COM8-25021724/blob/main/Lab6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#W6A1
def rieng(s):
  rieng=[]
  for i in range (0,len(s)):
      if s[i] not in rieng:
        rieng.append(s[i])
  return rieng
a=list(map(int,input().split()))
print(rieng(a))

1 2 2 3 1 4
[1, 2, 3, 4]

In [ ]:
#W6A2
def tong(s):
  tong=[]
  for i in range (0,len(s)):
    tong.append(sum(s[0:i+1]))
  return tong
a=list(map(int,input().split()))
print(tong(a))

 1 2 3 4
[1, 3, 6, 10]

In [ ]:
#W6A3
s = input().split()
tup = tuple((int(x) for x in s))
k = int(input())
n = len(tup)
if n > 0:
  k = k % n
  tup1 = tup[k:] + tup[:k]
  print(tup1)

1 2 3 4 5
2
(3, 4, 5, 1, 2)

In [ ]:
#W6A4
a = input ().split()
d = {}
for i in a:
  c,e = i.split(":")
  if c not in d:
     d[c] = [e]
  else:
     d[c]. append(e)
print (d)

a:1 b:2 a:3
{'a': ['1', '3'], 'b': ['2']}

In [ ]:
#W6A5
n = list(map(int, input().split()))
a={}
a['positives']=0
a['negatives']=0
a['zeros']=0
for i in n:
  if i>0:
    a['positives']+=1
  elif i<0:
    a['negatives']+=1
  else:
    a['zeros']+=1
print(a)

1 -2 0 3 -4 0 0
{'positives': 2, 'negatives': 2, 'zeros': 3}

In [ ]:
#W6A6
a = list(map(int,input().split()))
def tong(s):
  tong=sum(s[0:len(a)])
  return tong
print(tong(a))

100 200 300
600

In [ ]:
#W6A7
from typing import Tuple
t = tuple(map(int,input().split()))
first = t[0]
last = t[-1]
rev = tuple(reversed(tuple(map(str,t))))
print(first,last,rev)

5 8 2 7 1 4
5 4 ('4', '1', '7', '2', '8', '5')

In [ ]:
#W6A8
def chuongtrinh(a):
  d = {}
  for i in a:
    if i not in d:
      d[i] = 1
    else:
      d[i] +=1
  return d
a = list(input ().split())
print(chuongtrinh(a))

apple banana apple
{'apple': 2, 'banana': 1}

In [ ]:
#W6A9
import ast
def tong(d1 : dict, d2: dict)-> dict[str,int]:
    out = dict(d1)
    for k,v in d2.items():
      if k in out:
        out[k] = out.get(k) + v
      elif k not in out:
        out[k]=v
    return out
d1=ast.literal_eval(input())
d2=ast.literal_eval(input())
print(tong(d1,d2))

{'a': 1, 'b': 2}
{'c': 3, 'b': 4}
{'a': 1, 'b': 6, 'c': 3}

In [ ]:
#W6A10
a=list(map(int,input().split()))
a.sort(reverse=False)
b=int(input())
pairs = []
for i in range(len(a)):
  for j in range(len(a)):
    if a[i]+a[j]==b and (a[i],a[j]) not in pairs:
      pairs.append((a[i],a[j]))
print(pairs)

10 5 -5 0
5
[(-5, 10), (0, 5), (5, 0), (10, -5)]

In [ ]:
#W6A11
a=tuple(map(int,input().split()))
chan=()
for i in range(len(a)):
  if a[i]%2==0:
    chan+=(a[i],)
print(chan)
le=()
for i in range(len(a)):
  if a[i]%2!=0:
    le+=(a[i],)
print(le)

1 10 2 9 3 8 4 7 5 6
(10, 2, 8, 4, 6)
(1, 9, 3, 7, 5)

In [ ]:
#W6A12
a = tuple(map(int,input().split()))
def lon(a):
  d=0
  c=0
  for i in a:
    if a.count(i)>d:
      d=a.count(i)
      c=i
    elif a.count(i)==d:
      if c>i:
        c=i
  return c
print(lon(a))

5 5 5 1 1 1 8 9
1

In [ ]:
#W6A13
a = input ().split()
d = {}
for i in range (0,len(a),2):
  key=a[i]
  value=a[i+1]
  d[key]=value
c={}
for key,value in d.items():
  c[value]=key
print (c)

a 1 b 2 c 3
{'1': 'a', '2': 'b', '3': 'c'}

In [ ]:
#W6A14
a = list(map(int,input().split()))
b = list(map(int,input().split()))
def lap(a,b):
  t=[]
  for i in a:
    for d in b:
      if i==d and i not in t:
        t+=(i,)
  return t
print(lap(a,b))

1 2 3 4 4 5
4 5 6 7 5 8
[4, 5]

In [ ]:
#W6A15
d={}
a=input().split()
k=int(input())
for i in range (0,len(a),2):
  if int(a[i+1])>k:
    d[a[i]]=a[i+1]
print(d)

apple 10 banana 20 orange 15
5
{'apple': '10', 'banana': '20', 'orange': '15'}

In [32]:
#W6A16
n, m = map(int, input().split())
a = []
b=[]
for i in range(n):
  for d in range(m):
    row =int(input())
    b.append(row)
  a.append(b)
  b=[]

for l in a:
  for i in l:
    print(f'{i:>4}',end='')
  print()

2 3
2
5
6
7
4
3
   2   5   6
   7   4   3

In [37]:
#W6A17
n = int(input())
a = []
for i in range(n):
  row = list(map(int, input().split()))
  a.append(row)
print('Đường chéo chính:')
for i in range(n):
  print(a[i][i], end=' ')
print()
print('Đường chéo phụ:')
for i in range(n):
  print(a[i][n-1-i], end=' ')
print()

3
4 5 6
2 8 9
3 5 7
Đường chéo chính:
4 8 7
Đường chéo phụ:
6 8 3

In [33]:
#W6A18
n , m , k= map(int, input().split())
a = []
for i in range(n):
  row = list(map(int, input().split()))
  a.append(row)
tong=0
for i in range(n):
   tong+=a[i][k]
print(tong)

4 3 2
3 4 5
3 5 9
3 4 1
2 6 7
22

In [ ]:
#W6A19
a = list(map(int,input().split()))
def position(a):
  for i in range(len(a)):
    if a[i]==max(a):
      return i+1
print(position(a))

34 25 67 89 100 1000
6

In [ ]:
#W6A20
a = list(map(int,input().split()))
b = int((input()))
t=0
for i in range(len(a)):
  if a[i]==b:
    t=i+1
    break
print(t)

2 45 67 12 90 23
23
6

In [ ]:
#W6A21

a = input().split()
b = {}
for value, key in enumerate(a):
  if key not in b:
    b[key] = []
  b[key].append(value)
for key in b:
  b[key]=tuple(b[key])
print(b)

a b a c b a
{'a': (0, 2, 5), 'b': (1, 4), 'c': (3,)}